# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=

NEXT_PUBLIC_CONVEX_URL=


USER_LOGIN_AUTH=
PASS_LOGIN_AUTH=

NEXTAUTH_URL =
NEXTAUTH_SECRET=

# uploadthing
UPLOADTHING_TOKEN=


GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =

#https://resend.com/
RESEND_API_KEY=

#https://app.sweego.io/